# ========================
# Build & Target
# ========================
target/
!**/src/main/**/target/
!**/src/test/**/target/

# ========================
# Maven Wrapper
# ========================
!.mvn/wrapper/maven-wrapper.jar

# ========================
# Allure
# ========================
allure-results/
allure-report/
allure/
.allure/

# ========================
# Logs
# ========================
logs/
*.log

# ========================
# Screenshots
# ========================
screenshots/
*.png
*.jpg

# ========================
# IntelliJ IDEA
# ========================
.idea/
*.iml
*.iws
*.ipr
out/

# ========================
# Eclipse
# ========================
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# ========================
# NetBeans
# ========================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# ========================
# VS Code
# ========================
.vscode/

# ========================
# OS Files
# ========================
.DS_Store
Thumbs.db

# ========================
# Java / Kotlin
# ========================
.kotlin/
*.class

# ========================
# Environment / Secrets
# ========================
.env
.env.*
*.properties
!src/test/resources/*.properties
!src/main/resources/*.properties